<!-- Navbar -->
<nav class="bg-blue-600 p-4">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <div class="text-white text-xl font-bold">
        <a href="#" class="hover:text-blue-200">Check-In System</a>
      </div>
    </div>
  </div>
</nav>

<!-- Main Content -->
<div class="container mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
  <% if @patient_name.present? %>
    <h2 class="text-2xl font-semibold text-gray-700 mb-6"><%= t('check_ins.greeting', name: @patient_name) %></h2>
  <% end %>

  <h1 class="text-3xl font-bold text-blue-600 mb-4">Welcome to the Check-In Process</h1>

  <p class="text-lg text-gray-600 mb-6">Over the past 2 weeks, how often have you been bothered by any of the following problems?</p>

  <%= form_with model: @check_in, local: true do |form| %>
    <% if @questionnaire.present? && @questionnaire.questions.any? %>
      <% @questionnaire.questions.limit(2).each do |question| %>
        <div class="mb-6">
          <%= form.label "responses[#{question.id}]", question.text, class: "block text-lg font-medium text-gray-700 mb-2" %>
          <%= form.select "responses[#{question.id}]", options_for_select(question.options.map { |option| [option['text'], option['value']] }), {}, class: "block w-full mt-1 p-3 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-lg" %>
        </div>
      <% end %>
    <% else %>
      <p class="text-red-500">No questions available for this questionnaire.</p>
    <% end %>

    <%= form.hidden_field :patient_id, value: 1 %>

    <div class="flex justify-end mt-8">
      <%= form.submit "Start check in", class: "bg-blue-600 text-white font-bold py-3 px-6 rounded hover:bg-blue-700 transition duration-300" %>
    </div>
  <% end %>
</div>
