<%= render 'shared/navbar' %>

<div class="container mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
  <h1 class="text-3xl font-bold text-blue-600 mb-4"><%= t('check_ins.new.title') %></h1>

  <p class="text-lg text-gray-600 mb-6"><%= t('check_ins.new.instruction') %></p>

  <%= form_with model: @check_in, local: true do |form| %>
    <% if @questionnaire.present? && @questionnaire.questions.any? %>
      <%= render 'shared/question_fields', form: form, limit: 2, offset: 0 %>
    <% else %>
      <p class="text-red-500"><%= t('check_ins.no_questions_available') %></p>
    <% end %>

    <%= form.hidden_field :patient_id, value: 1 %>

    <div class="flex justify-end mt-8">
      <%= form.submit "Start check in", class: "bg-blue-600 text-white font-bold py-3 px-6 rounded hover:bg-blue-700 transition duration-300" %>
    </div>
  <% end %>
</div>
